.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 24px;
}

.img {
  display: block;
  max-width: 300px;
  max-height: 360px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 32px;
}
