#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 0 16px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
