.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
}

.link {
  padding: 8px 8px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: rgb(241, 17, 17);
}
